<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="post" action="/payment">
    <div class="container">
        <header>
            <img class="logo" src="logo.svg" alt="logo" height="50">
            <h1 style="color: #ececec">Bite-By-Bytes</h1>
        </header>
        <div class="list">
          
        </div>
    </div>
    <div class="card">
        <h1>Card</h1>
        <span class="quantity" style="color: #d80202;">0</span>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="checkOutBtn">
                <input type="submit" name="checkout" value="Checkout"/>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</form>
</body>
</html>