<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="payment.js">
        <table>
        <tr>
          <td>Name:</td>
          <td> <input type="text" name="name" size="25"></td> 
        </tr>  
        <tr>
            <td>Cash Amount:</td> 
            <td> <input type="number" name="cash"></td> 
          </tr> 
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          <%- price  %> 
        </table>	  
        <input type="submit" name="save" /><br />
    </form>
    <script>


    </script>
</body>
</html>