body{
    background-color: #FFFAE7;
    font-family: system-ui;
}
.container{
    width: 1000px;
    transition: 0.5s;
}
header{
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color:goldenrod; /* 2723a */
    background-image: url('header.svg');
    border-radius: 20px;
    padding: 50px;
    width: 1323px;
    height: 1px;
    justify-content: center;
}